body {
    height: 100%;
    width: 100%;
    background: url("../images/bbc.png");
    background-color: #eeeeee;
}

.textACenter {
    text-align: center;
}


/*header-bg*/

.wrap {
    margin: 0 auto;
}

.header {
    background: #373d41;
    height: 50px;
}

.header .left {
    margin-left: 120px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;
}

.header .right {
    float: right;
    margin-right: 100px;
    font-size: 0;
    -moz-user-select: none;
    -webkit-user-select: none；
}

.header .right span {
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid #2a2f32;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 14px;
    transition: all .3s;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none
}

.header .right span:hover {
    background-color: #333;
}

#logo {
    position: absolute;
    left: 50px;
    top: -4px;
}


/* main内容 */

#main {
    width: 100%;
    text-align: center;
}

#main table {
    /* background: transparent !important; */
    color: black;
}

#main table {
    border: 1px solid #ccc;
    width: 80%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

#main table tr {
    border: 1px solid #ddd;
    padding: 5px;
}

#main table th,
#main table td {
    padding: 10px;
    text-align: center;
}

#main table th {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}


/* 报警信息文本框样式 */

.layui-textarea {
    min-height: 300px;
    margin-bottom: 2rem;
}


/* 表格自适应 */

@media screen and (max-width: 600px) {
    #main table {
        border: 0;
    }
    #main table thead {
        display: none;
    }
    #main table tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }
    #main table td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }
    #main table td:last-child {
        border-bottom: 0;
    }
    #main table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}